@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    font-feature-settings: "liga" 1, "kern" 1;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-neutral-50 text-neutral-900 antialiased;
  }

  ::selection {
    @apply bg-primary-200 text-primary-900;
  }
}
